<% include partials/header %>
<%
let kWh = 0.075;
let cryptos = ["Bitcoin", "Nicehash-SHA", "Dash", "Nicehash-X11", "Litecoin", "Nicehash-Scrypt", "Sia"];
let algos = {
  "SHA-256": 1510,
  "Scrypt": 1063,
  "X11": 1396,
  "Blake (2b)": 1600
};
%>
  <h1>WhatToMine Profitability Calculator</h1>
  <p class="home"><a href="/">Home</a></p>
  <div id="time">Time retrieved: <span class="time"><%= data.date %></span></div>
  <% cryptos.forEach(function (currency) {
      let coin = data.coins[currency];
      let revenueUSD;
      if ((coin.tag !== "NICEHASH") && (currency !== "Bitcoin")){
        revenueUSD = (coin.estimated_rewards24 * coin.exchange_rate * data.coins.Bitcoin.exchange_rate).toFixed(2);
      } else {
        revenueUSD = (coin.btc_revenue24 * data.coins.Bitcoin.exchange_rate).toFixed(2);
      }
      let cost = ((algos[coin.algorithm] / 1000) * kWh * 24).toFixed(2);
      let profit = (revenueUSD - cost).toFixed(2);
      let profcost = (profit / cost).toFixed(4); %>
      <div id="<%= currency %>">
        <p>Currency: <span class="currency"><%= currency %></span></p>
        <p>Rev: <span class="rev">$<%= revenueUSD %></span></p>
        <p>Cost: <span class="cost">$<%= cost %></span></p>
        <p>Profit: <span class="profit">$<%= profit %></span></p>
        <p>Profit/Cost = <span class="prof-cost"><%= (profcost * 100).toFixed(2) %> %</span></p>
      </div>
<%  }) %>

<% include partials/footer %>
